body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
}
ul {
  border: 1px solid #ccc;
  list-style: none;
  padding-left: 1em;
}
li {
  background-color: #ffc;
  display: inline-block;
  width: 19%;
}
p {
  border: 1px solid #ccc;
  display: inline-block;
  width: 23%;
  margin-left: -6px;
  padding: 5px;
}
p:first-of-type {
  margin-left: 0;
}
