* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
}

h1 {
  text-align: center;
}

/* Osnovni stil za sve divove */
div {
  background-color: #f93;
  border: 1px solid #333;
  font-size: 2em;
  line-height: 150px;
  width: 400px;
  height: 150px;
  margin: 0 auto 2em;
  text-align: center;
  transition: none; /* reset za svaki slučaj */
}

/* 1. DIV */
.div1 {
  transition:
    width 1.5s linear,
    background-color 1s ease-out;
}

.div1:hover {
  width: 650px;
  background-color: #8cc;
}

/* 2. DIV */
.div2 {
  transition: transform 2s ease-in-out;
}

.div2:hover {
  transform: rotate(360deg) scale(1.5);
}

/* 3. DIV */
.div3 {
  transition: transform 1s linear;
}

.div3:hover {
  transform: translate(400px, 0) rotate(90deg);
}

/* 4. DIV */
.div4 {
  transition:
    transform 2.5s ease-in 2s,
    background-color 1s linear,
    height 0.5s ease-out 1s;
}

.div4:hover {
  transform: translate(0, 200px);
  height: 200px;
  background-color: yellow;
}
