body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
}
h1 {
  text-align: center;
}
p {
  background-color: orange;
}
.inline {
  display: inline;
  margin: 20px 40px;
}
.inline-blok {
  display: inline-block;
}
.box {
  width: 300px;
  height: 100px;
  margin: 20px;
}
.none {
  display: none;
}
em {
  background-color: #ccf;
}
.blok {
  display: block;
}
