body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
}

body > div {
  background-color: #eee;
  border: 20px solid #999;
  height: 800px;
  width: 800px;
  margin: 2em auto;
}

div > div:last-child {
  background: #69f;
  margin-left: auto;
  margin-right: 0;
  height: 400px;
  width: 400px;
}

div > div:first-child {
  background: #f66;
  height: 400px;
  width: 400px;
}
