.class-text {
  color: red;
  font-weight: 600;
  font-size: 16px;
}

.user-card-classcomp {
  border: 1px solid #cc0000;
  background: #ffe6e6;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  font-size: 16px;
  color: #800000;
}
