* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100vh;
}
header,
footer {
  background-color: #999;
  height: 10vh;
  flex: 0 100%;
}
main {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin: 10px auto;
}
section {
  background-color: #eee;
  flex: 0 24%;
  padding: 10px;
}
@media (max-width: 1023px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  section:first-child,
  section:last-child {
    grid-column: 1 / span 2;
  }
}
@media (max-width: 479px) {
  main {
    grid-template-columns: 1fr;
  }
  section:first-child,
  section:last-child {
    grid-column: 1;
  }
}
