/* root element */
:root {
  --primary: #8b3c7f;
  --onPrimary: #ffffff;
  --inversePrimary: #f4b2e3;
  --onSurface: #201a1e;
  --outline: #80747b;
  --tertiaryContainer: #ffdbcf;
  --surfaceVariant: #eedee7;
  --outlineVariant: #d2c2cb;
}

/* Svi elementi */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* background-color: var(--outlineVariant); */
  background-image: url("../src/assets/poz.jpg");
}
