$color1: #eee;
$color2: #333;
$color3: #800;

$font1: Verdana, Geneva, Tahoma, sans-serif;
$font2: Courier, monospace;

@mixin spacing($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

body {
  @include spacing(0, 0);
  background-color: $color1;
  color: $color2;
  font-family: $font1;
}

div {
  background-color: $color2;
  color: $color1;
  @include spacing(0 0 1em 0, 1em);
}

$num: 8;

@while $num > 0 {
  .col-#{$num} {
    &::before {
      content: "#{$num}";
    }
  }
  $num: $num - 1;
}
