body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
}

p {
  background-color: #f93;
}

em {
  background-color: #ccf;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.box {
  width: 300px;
  height: 100px;
  margin: 20px;
}

.block {
  display: block; 
}

.none {
  display: none;
}
