body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
  /* background-color: #ddd;
  background-image: url(butterfly.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25%;
  background-attachment: fixed;*/

  background: #ddd url(butterfly.png) center center/25% no-repeat fixed;
}

div {
  width: 500px;
  height: 300px;
}

#div1 {
  background: blue url(butterfly.png) center center/cover;
}

#div2 {
  background-image: linear-gradient(green, yellow, red);
}
