.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 5px;
  background-color: var(--onPrimary);
  margin: 6px 0;
  transition: 0.4s;
}

.hamburgerIcon {
  display: none;
  margin-right: 1rem;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media (max-width: 899px) {
  .hamburgerIcon {
    display: inline-block;
    cursor: pointer;
  }
}
